body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
}
.title {
    font-size: 200px;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    font-family: 'Lato';    
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 26px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 31px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
    font-family: 'Lato';
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}

@font-face {
  font-family: "chiffre";
  src:url('../font/Scribynumbers.ttf');
}

.chiffre {
  font-family: "chiffre";
}

.cpt {
    font-family: 'Lato';
}


/* ****************** *\
      Notification
\* ****************** */

.notification.blue {
    border-color: #39afea;
    background-color: #67c2ef;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#95d5f4),to(#67c2ef));
    background-image: -webkit-linear-gradient(top,#95d5f4,#67c2ef);
    background-image: -moz-linear-gradient(top,#95d5f4,#67c2ef);
    background-image: -o-linear-gradient(top,#95d5f4,#67c2ef);
    background-image: -ms-linear-gradient(top,#95d5f4,#67c2ef);
    background-image: linear-gradient(top,#95d5f4,#67c2ef);
}
.notification.small.green, .notification.green {
    border-color: #5db734;
    background-color: #78cd51;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#97d879),to(#78cd51));
    background-image: -webkit-linear-gradient(top,#97d879,#78cd51);
    background-image: -moz-linear-gradient(top,#97d879,#78cd51);
    background-image: -o-linear-gradient(top,#97d879,#78cd51);
    background-image: -ms-linear-gradient(top,#97d879,#78cd51);
    background-image: linear-gradient(top,#97d879,#78cd51);
}

.notification.small.red, .notification.red {
    border-color: #ff2121;
    background-color: #ff5454;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ff8787),to(#ff5454));
    background-image: -webkit-linear-gradient(top,#ff8787,#ff5454);
    background-image: -moz-linear-gradient(top,#ff8787,#ff5454);
    background-image: -o-linear-gradient(top,#ff8787,#ff5454);
    background-image: -ms-linear-gradient(top,#ff8787,#ff5454);
    background-image: linear-gradient(top,#ff8787,#ff5454);
}

.notification.small.orange, .notification.orange {
    border-color: #f9aa0b;
    background-color: #fabb3d;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fbcc6f),to(#fabb3d));
    background-image: -webkit-linear-gradient(top,#fbcc6f,#fabb3d);
    background-image: -moz-linear-gradient(top,#fbcc6f,#fabb3d);
    background-image: -o-linear-gradient(top,#fbcc6f,#fabb3d);
    background-image: -ms-linear-gradient(top,#fbcc6f,#fabb3d);
    background-image: linear-gradient(top,#fbcc6f,#fabb3d);
}

.notification {
    position: absolute;
    top: -12px;
    right: 0px;
    line-height: 16px;
    height: 16px;
    padding: 6px 10px;
    color: white !important;
    font-weight: bold !important;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.15);
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.orange {
    color: #fa603d;
}

.red {
    color: #ff5454;
}

.blue {
    color: #67c2ef;
}
.green {
    color: #bdea74;
}